{% paginate collection.products by 6 %}
  {% assign page_count = paginate.pages %}

  <section class="collection-template">
    <div class="container" style="margin-left: 5rem;">
      <div class="collections-sidebar">
        {% for link in linklists.collections_sidebar.links %}
          {% if link.links == blank %}
            <li class="nav-item active" style="list-style: none;">
              <a class="nav-link" href="{{link.url}}">
                {{ link.title }}
              </a>
            </li>
          {% endif %}

          {% style %}
            .collection-template a:active {
              color: {{settings.link_hover_color}};
            }
          {% endstyle %}

          {% if link.links != blank %}
            <ul style="padding-left: 0;">
              <li class="nav-item" style="list-style: none;">
                <a
                  class="nav-link"
                  href="#"
                  id="navbarDropdown"
                  aria-haspopup="true"
                  aria-expanded="true"
                  style="cursor: pointer; padding-bottom: .3rem; margin-top: .8rem; font-weight: 500; text-transform: uppercase;"
                >
                  {{ section.settings.collection_plp_title }}
                </a>
                <div class="" aria-labelledby="navbarDropdown">
                  <div class="row" style="display: block;">
                    {% for childlink in link.links %}
                      <div class="col">
                        <a href="{{childlink.url}}">{{ childlink.title }}</a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </li>
            </ul>
          {% endif %}
        {% endfor %}
      </div>

      {% style %}
        @media only screen and (max-width: 767.98px) {
          .collection-template h2#mobile {
            margin: auto;
            margin-top: 4rem;
            top: 0;
            left: 0 !important;
          }
        }
        .collection-template h2#mobile {
          top: 0;
          left: 2.5rem;
          margin-bottom: 0;
        }
      {% endstyle %}

      <div class="collection-products" style="margin-top: -22.2rem; margin-left: 12.3rem;">
        <h2 id="mobile">
          {{ page_title }}
        </h2>
        <div
          class="row"
          style="
            display: grid;
            grid-template-columns: 350px 350px 350px;
            width: min-content;
            justify-items: center;
            margin: auto;
            padding-top: 5rem;
            grid-row-gap: 4rem;
          "
        >
          {% for product in collection.products %}
            <div class="container-1" id="product-collections">
              <a href="{{product.url}}">
                <div
                  class="img-3 reveal"
                  data-aos="fade-up"
                  data-aos-offset="190"
                  data-aos-delay="55"
                  data-aos-duration="800"
                  data-aos-easing="ease-in-out"
                  data-aos-mirror="true"
                >
                  <img
                    loading="lazy"
                    src="{{product.featured_image.src | img_url: '500x500'}}"
                    style="width: 285px; height: 430px"
                  >
                  <img
                    loading="lazy"
                    class="hidden"
                    src="{{ product.images.last | img_url: '500x500' }}"
                    alt="{{ product.images.last.alt | escape }}"
                    style="width: 285px; height: 430px"
                  >
                </div>
              </a>

              <div
                class="product-info"
                data-aos="fade-up"
                data-aos-offset="50"
                data-aos-delay="57"
                data-aos-duration="750"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
              >
                <h5 class="">
                  <a href="{{product.url}}">{{ product.title }}</a>
                </h5>
                {% if product.compare_at_price %}
                  <h5 class="price">
                    {{ product.price | money }}
                    <span style="opacity: 60%; text-decoration: line-through;">
                      {{- product.compare_at_price | money -}}
                    </span>
                  </h5>
                {% else %}
                  <h5 class="price">{{ product.price | money }}</h5>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        <ul class="pagination pagination-custom">
          {% if page_count > 1 and paginate.previous %}
            <li class="page-item">
              <a href="{{paginate.previous.url}}" aria-label="Previous" class="page-link">
                <span aria-hidden="true">Prev</span><span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}

          {% for part in (1..page_count) %}
            {% if paginate.current_page == part %}
              {% assign active_class = 'active' %}
              {% style %}
                .pagination .active {
                  background-color: {{settings.primary_btn_bg_color}};
                  color: {{settings.primary_btn_text_color}};
                  border-radius: {{settings.primary_btn_border_radius}}px;
                }
              {% endstyle %}
            {% else %}
              {% assign active_class = '' %}
            {% endif %}

            <li class="page-item">
              <a href="{{collection.url}}?page={{forloop.index}}" class="page-link {{active_class}}">
                {{- forloop.index -}}
              </a>
            </li>
          {% endfor %}
          {% if page_count > 1 and paginate.next %}
            <li class="page-item">
              <a href="{{paginate.next.url}}" aria-label="Next" class="page-link">
                <span aria-hidden="true">Next</span>
                <span class="sr-only">Next </span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </section>
{% endpaginate %}

{% schema %}
{
  "name": "Collections",
  "settings": [
    {
      "id": "collections_sidebar",
      "type": "link_list",
      "label": "Collections Sidebar"
    },
    {
      "type": "inline_richtext",
      "id": "collection_plp_title",
      "label": "Collection PLP title",
      "default": "COLLECTIONS"
    }
  ]
}
{% endschema %}
