<footer>
  <div class="section">
    <div class="containy">
      <div class="row-1">
        <h3>
          {{ section.settings.title }}
        </h3>
        <form id="contact-form" method="post" action="" role="form">
          <div class="form-group">
            <input type="email" placeholder="Your email    →" class="form-control email p" name="email" id="email">
          </div>
          <div>
            <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit" style="display: none">
          </div>
        </form>
      </div>

      <h3>{{ section.settings['footer-quote'] }}</h3>

      <div class="row-2">
        <ul>
          {% for link in linklists[section.settings.footer_linklist].links %}
            <li class="p">
              {{ link.title }}

              {% for childlink in link.links %}
                <a href="{{childlink.url}}">
                  <div class="dropdown-header">{{ childlink.title }}</div>
                </a>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>

{% style %}
  footer {
    margin-top: 18rem;
    background-color: {{section.settings.footer_bg_color}};
  }

  .containy {
    display: table;
    content: '';
    clear: both;
    margin-right: 0;
    margin-left: 16rem;
    padding: 0;
    padding-bottom: 3rem;
  }

  .containy .row-1 {
    float: left;
  }

  .containy .row-2 {
    display: flex;
  }

  .containy .row-2 .row {
    display: block;
    padding-top: 1rem;
  }

  .containy .row-2 .dropdown-header {
    color: {{section.settings.footer_text_color}};
    padding-bottom: 0;
  }

  .containy .email {
    color: {{section.settings.footer_text_color}} !important;
    text-align: left;
    padding: 1.3rem;
    margin-left: -4rem;
    border: {{section.settings.footer_input_border_width}} solid {{section.settings.footer_text_color}};
    text-transform: none;
    margin-top: 3.5rem;
    padding-left: 1.5rem;
    width: auto;
    background-color: transparent;
  }

  .containy .email::placeholder {
  color: {{section.settings.footer_text_color}} !important;
  }


   /* .containy h3 span {
     float: right;
     font-size: 1.3rem;
     padding-right: .5rem;
   } */

  footer .containy .row-1 h3 {
    color: {{section.settings.footer_text_color}};
    text-align: left;
    margin-left: -4rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  footer .containy h3 {
    margin-left: 28.5rem;
    color: {{section.settings.footer_text_color}};
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .containy .collection-desc {
    margin-bottom: 0;
  }

  footer ul {
    list-style: none;
    display: flex;
    width: fit-content;
    margin-left: 12rem;
  }

  footer ul li {
    padding-right: 7rem;
    text-align: left;
    color: {{section.settings.footer_text_color}} !important;
    width: max-content;
  }

  footer ul li:last-child {
    padding-right: 6rem;
  }

  footer ul li .active a {
    color: {{section.settings.footer_text_color}};
  }
{% endstyle %}

{% schema %}
{
  "name": "Footer Menu",
  "settings": [
    {
      "type": "text",
      "id": "footer-quote",
      "label": "Footer Quote",
      "default": "value",
      "info": "text",
      "placeholder": "text"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "value",
      "info": "text",
      "placeholder": "text"
    },
    {
      "type": "color",
      "id": "footer_bg_color",
      "label": "Background Color",
      "default": "#433e3f"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Text Color",
      "default": "#FFF9EF"
    },
    {
      "type": "range",
      "id": "footer_input_border_width",
      "label": "Footer Border Width",
      "default": 1,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "footer_input_border_radius",
      "label": "Footer Input Border Radius",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "link_list",
      "id": "footer_linklist",
      "label": "Menu",
      "default": "footer"
    }
  ]
}
{% endschema %}
