<section class="section-1">
  <div class="section">
    <div
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
    >
      <h5>{{ section.settings['sub-title'] }}</h5>
      <h3>
        <span>{{ section.settings['italic-span'] }}</span> {{ section.settings.title }}
      </h3>
    </div>

    {% assign collection = collections[section.settings.collection] %}
    <div class="images-1">
      {% for product in collection.products limit: section.settings.product_limit %}
        <div class="img-container-1">
          <div>
            <!--
              <a href="{{product.url}}">
                  <div class="reveal">
                      <img loading="lazy" class="img-3" data-aos="fade-up"
                      data-aos-offset="190"
                      data-aos-delay="55"
                      data-aos-duration="1000"
                      data-aos-easing="ease-in-out"
                      data-aos-mirror="true" src="{{product.featured_image.src | img_url: '500x500'}}"/>
                  </div>
                      <img loading="lazy" class="hidden" src="{{ product.images.last | img_url: '450x450' }}"/>
              </a>
            -->
            <a href="{{product.url}}">
              <div
                class="img-3 reveal"
                data-aos="fade-up"
                data-aos-offset="190"
                data-aos-delay="55"
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
              >
                <img
                  loading="lazy"
                  src="{{product.featured_image.src | img_url: '500x500'}}"
                  style="width: 335px; height: 505px"
                >
                <img
                  loading="lazy"
                  class="hidden"
                  src="{{ product.images.last | img_url: '500x500' }}"
                  alt="{{ product.images.last.alt | escape }}"
                  style="width: 335px; height: 505px"
                >
              </div>
            </a>

            <div
              class="product-info"
              data-aos="fade-up"
              data-aos-offset="50"
              data-aos-delay="57"
              data-aos-duration="750"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
            >
              <h5 class="product-title">
                <a href="{{product.url}}">{{ product.title }}</a>
              </h5>
              <h5 class="price">{{ product.price | money }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <p
      id="collection-desc"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-delay="58"
      data-aos-duration="900"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
    >
      {{ section.settings['collection-desc'] }}
    </p>
  </div>
</section>

{% style %}
  .section-1 .section {
    margin-top: 8rem;
    border-top: {{settings.border_section_thickness}}px solid {{settings.border_section_color}};
    padding-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }
{% endstyle %}

{% schema %}
{
  "name": "Home Section 1",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "New Pieces"
    },
    {
      "type": "text",
      "id": "italic-span",
      "label": "italicize",
      "default": "Shop"
    },
    {
      "type": "text",
      "id": "sub-title",
      "label": "Sub Heading",
      "default": "New Collection"
    },
    {
      "type": "textarea",
      "id": "collection-desc",
      "label": "Collection Description",
      "default": "Shop our new pieces. This collection is all about moodiness and statement pieces. Our doubled pieces are our most loved. Shop now!",
      "info": "text",
      "placeholder": "text"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "Product Limit",
      "min": 3,
      "max": 9,
      "default": 6
    }
  ],
  "presets": [
    {
      "name": "Home Section 1"
    }
  ]
}
{% endschema %}
