<section class="section-3">
  <div class="section">
    <div class="container">
      <h3
        data-aos="fade-up"
        data-aos-offset="180"
        data-aos-delay="58"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        style="margin-top: 10rem;"
      >
        {{ section.settings.title }}
        <span>{{ section.settings['italic-span'] }}</span> {{ section.settings.title1 }}
      </h3>

      <div class="blog-container">
        <div class="blogs" style="justify-content: center; grid-template-columns: 325px 325px 325px;">
          {% for link in linklists[section.settings.blog].links %}
            {% assign blog = link.object %}
            {% assign article_count_limit = section.settings.post_limit | minus: 1 %}

            {% for article in blog.articles limit: article_count_limit %}
              {% if forloop.index > 0 %}
                <div
                  class="blog-info"
                  data-aos="fade-zoom-in"
                  data-aos-offset="180"
                  data-aos-delay="58"
                  data-aos-duration="1000"
                  data-aos-easing="ease-in-out"
                  data-aos-mirror="true"
                >
                  <h5 class="date">
                    {{ article.published_at | date: '%B %Y' }}
                  </h5>
                  <a href="{{article.url}}">
                    {%- if article.image %}
                      <img
                        loading="lazy"
                        src="{{ article.image | img_url: '400x400' }}"
                        class="article-img"
                        data-aos="fade-zoom-in"
                        data-aos-offset="190"
                        data-aos-delay="60"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out"
                        data-aos-mirror="true"
                      >
                    {% endif %}
                  </a>
                  <div class="titles">
                    <h5>{{ article.tags }}</h5>
                    <h4>
                      <a href="{{article.url}}">{{ article.title }}</a>
                    </h4>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
    <p
      id="collection-desc"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-delay="58"
      data-aos-duration="900"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
    >
      {{ section.settings['blog-desc'] }}
    </p>
  </div>
</section>

{% schema %}
{
  "name": "Blog List",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "From"
    },
    {
      "type": "text",
      "id": "italic-span",
      "label": "italicize",
      "default": "Our"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Heading",
      "default": "Journal"
    },
    {
      "type": "textarea",
      "id": "blog-desc",
      "label": "Blog Section Description",
      "default": "Selected articles from our journal. Editorials, blogs, and interviews. We talk with jewelry designers about their process’ and get behind the scenes of jewelry design.",
      "info": "text",
      "placeholder": "text"
    },
    {
      "type": "link_list",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Blog List"
    }
  ]
}
{% endschema %}
